* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #202020;
  font-size: 16px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

button {
  background-color: #E08594;
  border: none;
  outline: none;
  color: #fff;
  padding: 4px 5px;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}

button:hover {
  background-color: #c77683;
}